.n3-swot {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
    padding-left: 2rem;
    align-items: center;
}

.n3-ttt {
    align-items: center;
}

.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.banner-pic {
    object-fit: cover;
    border-radius: 7.5rem;
    height: 10rem;
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content-top {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-left: .5rem;
    margin-right: 2rem;
}

.content-item {
    margin-right: 3rem;
    margin-left: 3rem;
  }
.text-logo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    min-width: min-content;
    padding: 2rem;
}
.logo-pic {
    width: 12.5rem;  
    height: 12.5rem; 
}
.spacer {
    margin: 5rem;
}

.swot {
    display: flex;
    margin-left: 3rem;
    padding: 3rem;
}

.vr {
    border: 1px solid gray;
    height: 30rem;
    margin: 1rem;
}

h1 {
    margin: 2rem;
}

p {
    margin: 1rem;
}

ul {
    margin: .5rem;
    padding-left: .5rem;
}

@media (max-width: 768px) {
    .content-top {
        justify-content: center;
        flex-direction: column;
        margin: 1rem;
    }
    .text-logo {
        justify-content: center;
        flex-direction: column-reverse;
        padding: 2rem;
    }
}
