<div class="tic-tac-toe-container">
    <h2>Tic Tac Toe</h2>
    <button class="new-game-button" (click)="newGame()">Reset</button>
    <div class="tic-tac-toe-grid">
        <div *ngFor="let square of squares; let i = index" (click)="makeMove(i)">
            <p>{{ square }}</p>
        </div>
    </div>
    <div>
        <br>
    </div>
    <div class="new-game-button">
        <div class="game-info" *ngIf="winner" >
            <p class="winner-info">Winner: {{ winner }}</p>
            <button class="new-game-button" (click)="newGame()">New Game</button>
        </div>
        <div class="game-info" *ngIf="tie" >
            <p class="winner-info">It's a tie!</p>
            <button class="new-game-button" (click)="newGame()">New Game</button>
        </div>
        <p *ngIf="!winner && !tie">Next player: {{ player }}</p>
    </div>
</div>
