.profile-card {
    background-color: #34495E;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    max-width: min-content;
    margin-left: 2rem;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    padding: .25rem;
}

.profile-name {
    font-family: 'Orbitron', sans-serif;
    color:white;
}

.profile-description {
    text-align: center;
    color:white;
    max-width: 600px;
    padding: .25rem;
    
}

.github-link {
    text-decoration: none;
    color: #1ABC9C;
}

